* {
    box-sizing: border-box;
}

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}


#app {
    max-width: 1280px;
    margin: 0 auto;
    padding: 1rem;
    text-align: center;
}

.empty {
    margin: 10px;
    border: solid 3px black;
    background: rgba(0, 0, 0, .2);
}

.hold {
    border: solid 5px #ccc;
}

.hovered {
    background-color: #333;
    border-color: white;
    border-style: dashed;
}

#turn {
    margin-bottom: 1rem;
}

.row {
    height: 75px;
}

.column {
    width: 100px;
    border: 1px dotted purple;
    font-size: 12px;
}

#hand {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    /* padding: .5rem; */
    border: 1px solid #213547;
    bottom: 0;
    margin: 1rem 0;
}


.invisible {
    opacity: 0;
}

.invisible,
.tile {
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 25%;
    height: 50px;
    padding: 2rem 0;
}

.tile {
    z-index: 10;
}

#toasts {
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.toast {
    background-color: #fff;
    border-radius: 5px;
    padding: 1rem 2rem;
    margin: 0.5rem;
}

.toast.info {
    background: rebeccapurple;
}

.toast.success {
    background: green
}

.toast.error {
    background: rgb(44, 1, 1);
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }

    a:hover {
        color: #747bff;
    }

    button {
        background-color: #f9f9f9;
    }
}